selenium
pandas
matplotlib
numpy
scikit-learn
GitPython
requests
flask
flask-bootstrap
flask-wtf
wtforms
email_validator
flask-login
robotframework
robotframework-seleniumlibrary
flask_bcrypt
flask_sqlalchemy
beautifulsoup4
twstock
lxml
yfinance
html5lib
joblib