{% extends "base.html" %}
{% block content %}
    <div class="container row">
        <h1>申請成為高級會員</h1>
        <div class="col-md-4">
            <form action="/apply_premium_member" method="post">
                <div>
                    <label for="content">申請理由</label>
                    <input name="content" type="text" required="required" oninvalid="setCustomValidity('請輸入申請理由');">
                </div>
                <button type="submit" name="confirm">送出申請</button>
            </form>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock content %}