{% extends "base.html" %}
{% block content %}
    {% include "flash.html" %}
    <div class="container text-center">
        <div class="rounded-5 feature" style="width: fit-content; height: auto;">
            <div class="bg-light p-lg-5 rounded-5">
                <h1 class="display-5 fw-bold">申請成為高級會員</h1>
                <form action="/apply_premium_member" method="post">
                    <div class="row row-cols-lg-auto g-3 justify-content-center" style="margin: initial;">
                        <div class="col-12">
                            <label for="content" class="form-label fs-4">申請理由：</label>
                            <input id="content" name="content" type="text" required="required" value="{{ content }}"
                                   oninvalid="setCustomValidity('請輸入申請理由');" onchange="setCustomValidity('');">
                        </div>
                        <div class="col-12">
                            <button type="submit" name="confirm" class="btn btn-outline-primary">送出申請</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}