{% extends "base.html" %}
{% block content %}
    <div class="container row">
        <h1>登入</h1>
        <div class="col-md-4">
            <form action="/" method="post">
                <div>
                    <label for="account">帳號</label>
                    <input name="account" type="text">
                </div>
                <div>
                    <label for="password">密碼</label>
                    <input name="password" type="password">
                </div>
                <button type="submit" name="confirm">登入</button>
            </form>
        </div>
    </div>
{% endblock content %}