{% extends "base.html" %}
{% block content %}
    <div class="row">
        <ul>
            <li><a class="button" href="{{ url_for('stock_odds_menu') }}">查看股票勝率</a></li>
            <li><a class="button" href="#">查看股票訊息</a></li>
            <li><a class="button" href="#">管理自選股票</a></li>
            <li><a class="button" href="#">查看股票分類</a></li>
            <li><a class="button" href="#">計算損益</a></li>
            <li><a class="button" href="#">申請成為高級會員</a></li>
            <li><a class="button" href="#">審核會員等級</a></li>
        </ul>
    </div>
{% endblock content %}