{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">
{%- endblock styles %}

{% block content %}
    <div class="container px-lg-5">
        <div class="p-lg-5 bg-light rounded-3 text-center">
            <h1 class="display-5 fw-bold">查詢特定股票</h1>
            <div class="row row-cols-lg-auto g-3 justify-content-center" style="margin: initial;">
                <label for="stock_id" class="form-label fs-4">請輸入股票代號：</label>
                <input id="stock_id" name="stock_id" type="number required" maxlength="4">
                <button id="submit_button" class="btn btn-outline-primary">確認</button>
            </div>
        </div>
        <div class="my-lg-5 text-center">
            <div class="panel">
                <div class="panel-body table-responsive">
                    <h2 id="title">股票代號：</h2>
                    <table id="stock_odds_table" class="table table-striped table-hover table-bordered"
                           data-toggle="table"
                           data-sort-class="table-active"
                           data-show-refresh=true
                           data-query-params="queryParams"
                           data-pagination=true
                           data-side-pagination="server"
                           data-show-columns=true
                           data-show-columns-toggle-all=true
                    >
                        <thead>
                            <tr>
                                <th data-field="stock_id">股票代號</th>
                                <th data-field="stock_name">股票名稱</th>
                                <th data-field="days">幾天內賣出</th>
                                <th data-field="odds">勝率</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
    <script>
        function checkInput(stock_id) {
            if (stock_id.length === 0){
                alert("請輸入股票代號");
                return false;
            }
            if (!(/(^[1-9]\d*$)/.test(stock_id))){
                alert("請輸入正確的股票代號");
                return false;
            }
            return true;
        }
        function queryParams(params) {
            params.stock_id = $("#stock_id").val();
            return params;
        }
        $("#submit_button").click(function() {
            const stock_id = $("#stock_id").val();
            const input_correct = checkInput(stock_id);
            if (input_correct === false){
                return 0;
            }
            const opt = {
                url: "/read_stock_odds",
                silent: true,
                pageNumber: 1,
                query:{
                    stock_id: stock_id,
                }
            }
            $("#stock_odds_table").bootstrapTable('refresh', opt);

            $("#title")[0].innerHTML = "股票代號：" + stock_id;
        });
    </script>
{% endblock content %}
