{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">
{%- endblock styles %}

{% block content %}
    <div class="container px-lg-5">
        <div class="p-lg-5 bg-light rounded-3 text-center">
            <h1 class="display-5 fw-bold">設定推薦股票條件</h1>
            <div class="row row-cols-lg-auto g-3 justify-content-center" style="margin: initial;">
                <div class="col-12">
                    <label for="odds" class="form-label fs-4">勝率：</label>
                    <select name="odds" id="odds" class="form-select" aria-label="Default select example">
                        <option value="1">0.1</option>
                        <option value="2">0.2</option>
                        <option value="3">0.3</option>
                        <option value="4">0.4</option>
                        <option value="5">0.5</option>
                        <option value="6">0.6</option>
                        <option value="7" selected="selected">0.7</option>
                        <option value="8">0.8</option>
                        <option value="9">0.9</option>
                    </select>
                </div>
                <div class="col-12">
                    <label for="days" class="form-label fs-4">幾天以內賣出：</label>
                    <select name="days" id="days" class="form-select" aria-label="Default select example">
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5" selected="selected">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                </div>
                <div class="col-12">
                    <button id="submit_button" class="btn btn-outline-primary">確認</button>
                </div>
            </div>
        </div>
        <div class="my-lg-5 text-center">
            <div class="panel">
                <div class="panel-body table-responsive">
                    <h2 id="title">勝率：  幾天內賣出：  </h2>
                    <table id="recommended_stock_table" class="table table-striped table-hover table-bordered"
                           data-toggle="table"
                           data-sort-class="table-active"
                           data-show-refresh=true
                           data-pagination=true
                           data-side-pagination="server"
                           data-show-columns=true
                           data-show-columns-toggle-all=true
                    >
                        <thead>
                            <tr>
                                <th data-field="stock_id">股票代號</th>
                                <th data-field="stock_name">股票名稱</th>
                                <th data-field="rsi_6">RSI6</th>
                                <th data-field="odds">勝率</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
    <script>
        let getDropDown = function () {
            const odds = $("#odds").val() === undefined ? 7 : $("#odds").val();
            const days = $("#days").val() === undefined ? 5 : $("#days").val();
            return {odds: odds, days: days}
        }

        let queryParams = function (params) {
            const dropdown = getDropDown();
            const temp = {
                //params：
                odds: dropdown['odds'],
                days: dropdown['days'],
                limit: params.limit,
                offset: params.offset,
                sortField: params.sort,
                sortOrder: params.order,
            };
            return temp;
         }
        $('#recommended_stock_table').bootstrapTable({
            dataType: "json",
            striped: true,
            cache: false,
            pagination: true,
            pageSize: 5,
            pageNumber: 1,
            pageList: [5, 10, 20, 50, 100, 200, 500],
            idField: "stock_id",
            showColumns: true,
            showRefresh: true,
            showColumns: true,
            sidePagination: "server",
            queryParams: queryParams,
            queryParamsType: "limit",
            toolbar: "#toolbar",
            silent: true,
         });

        $("#submit_button").click(function() {
            const dropdown = getDropDown();
            const opt = {
                url: "/read_recommended_stock",
                silent: true,
                pageNumber: 1,
                query:{
                    odds: dropdown['odds'],
                    days: dropdown['days'],
                }
            }
            $("#recommended_stock_table").bootstrapTable('refresh', opt);

            $("#title")[0].innerHTML = "勝率：" + dropdown['odds']/10 + " 幾天內賣出：" + dropdown['days'];
        });
    </script>
{% endblock content %}
