{% extends "base.html" %}
{% block content %}
    <div class="container row">
        <h1>設定推薦股票條件</h1>
        <div class="col-md-4">
            <form action="/read_recommended_stock" method="post">
                <label for="odds">勝率</label>
                <select name="odds_dropdown" id="odds">
                    <option value="1">0.1</option>
                    <option value="2">0.2</option>
                    <option value="3">0.3</option>
                    <option value="4">0.4</option>
                    <option value="5">0.5</option>
                    <option value="6">0.6</option>
                    <option value="7" selected="selected">0.7</option>
                    <option value="8">0.8</option>
                    <option value="9">0.9</option>
                </select>
                <label for="days">幾天以內賣出</label>
                <select name="days_dropdown" id="days">
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5" selected="selected">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>
                <button type="submit" name="confirm">確認</button>
            </form>

        </div>
    </div>
    <h1>Recommend</h1>
    {% for recommended_stock in recommended_stock_list %}
        <p>{{ recommended_stock }}</p>
    {% endfor %}
{% endblock content %}
