{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">
{%- endblock styles %}

{% block content %}
    <div class="container px-lg-5">
        <div class="p-lg-5 bg-light rounded-5 text-center">
            <h1 class="display-5 fw-bold">自選股票</h1>
            <div class="row row-cols-lg-auto g-3 justify-content-center" style="margin: initial;">
                <label for="stock_id" class="form-label fs-4">請輸入股票代號：</label>
                <input id="stock_id" name="stock_id" type="number required" maxlength="4">
                <button id="submit_button" class="btn btn-outline-primary" onclick="clickSubmitButton()">確認</button>
            </div>
        </div>
        <div class="my-lg-5 text-center">
            <div class="panel">
                <div class="panel-body table-responsive">
                    <table id="selected_stock_table" class="table table-striped table-hover table-bordered"
                           data-toggle="selected_stock_table"
                           data-search="true"
                           data-show-refresh="true"
                           data-visible-search="true"
                           data-sort-class="table-active"
                           data-pagination="true"
                           data-side-pagination="client"
                           data-query-params="queryParams"
                    >
                        <thead>
                        <tr>
                            <th data-field="stock_id">股票代號</th>
                            <th data-field="operate">刪除</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
    <script>
        const $table = $('#selected_stock_table')
        let selections = []
        window.onload = function () {
            initTable();
            const opt = {
                url: "/read_selected_stock",
                silent: true,
                query: {
                    stock_id: stock_id,
                }
            }
            $("#selected_stock_table").bootstrapTable('refresh', opt);
        }

        function checkInput(stock_id) {
            if (stock_id.length === 0) {
                alert("請輸入股票代號");
                return false;
            }
            if (!(/(^[1-9]\d*$)/.test(stock_id))) {
                alert("請輸入正確的股票代號");
                return false;
            }
            return true;
        }

        function queryParams(params) {
            params.stock_id = $("#stock_id").val();
            return params;
        }


        function getSpecificStockOdds() {
            //here our function should be implemented
            const stock_id = $("#stock_id").val();
            const input_correct = checkInput(stock_id);
            if (input_correct === false) {
                return 0;
            }
            const opt = {
                url: "/add_selected_stock",
                silent: true,
                query: {
                    stock_id: stock_id,
                }
            }
            $("#selected_stock_table").bootstrapTable('refresh', opt);
        }

        async function clickSubmitButton() {
            await getSpecificStockOdds();
        }

        function operateFormatter(value, row, index) {
            return [
                '<a class="remove" href="javascript:void(0)" title="Remove">',
                '<i class="fa fa-trash"></i>',
                '</a>'
            ].join('')
        }

        window.operateEvents = {
            'click .remove': function (e, value, row, index) {
                $table.bootstrapTable('remove', {
                    field: 'stock_id',
                    values: [row.stock_id]
                })
            }
        }

        function initTable() {
            $table.bootstrapTable({
                columns: [{
                    title: '股票代號',
                    field: 'stock_id',
                    align: 'center',
                    valign: 'middle',
                    sortable: true
                }, {
                    field: 'operate',
                    title: '刪除',
                    align: 'center',
                    clickToSelect: false,
                    events: window.operateEvents,
                    formatter: operateFormatter
                }]
            })
            {#$table.on('all.bs.table', function (e, name, args) {#}
            {#    console.log(name, args)#}
            {# })#}
        }


    </script>
{% endblock content %}