{% extends "base.html" %}
{% block content %}
    <div class="container row">
        <h1>查看盤後訊息</h1>
        <div class="col-md-4">
            <form action="/read_stock_after_hours_information" method="post">
                <label for="stock_id">請輸入股票代號</label>
                <input name="stock_id" type="number" max="9999" required="required"
                       oninvalid="setCustomValidity('請輸入股票代號');" onchange="setCustomValidity('');">
                <button type="submit" name="confirm">確認</button>
            </form>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock content %}