{% extends "base.html" %}
{% block content %}
    <div class="container row">
        <h1>計算當下損益</h1>
        <div class="col-md-4">
            <form action="/calculate_current_profit_and_loss" method="post">
                <div>
                    <label for="stock_id">股票代號</label>
                    <input name="stock_id" type="number" max="9999" required="required"
                           oninvalid="setCustomValidity('請輸入股票代號');" onchange="setCustomValidity('');">
                </div>
                <div>
                    <label for="buy_price">買入價格</label>
                    <input name="buy_price" type="number" required="required" oninvalid="setCustomValidity('請輸入買入價格');" onchange="setCustomValidity('');">
                </div>

                <div>
                    <label for="trading_volume">買入股數</label>
                    <input name="trading_volume" type="number" required="required"
                           oninvalid="setCustomValidity('請輸入買入股數');" onchange="setCustomValidity('');">
                </div>
                <div>
                    <label for="securities_firm">券商</label>
                    <select name="securities_firm" id="securities_firm">
                        <option value="0.5">元大證券</option>
                        <option value="0.38">玉山證券富果帳戶</option>
                        <option value="0.6">凱基證券</option>
                        <option value="0.28">國泰證券</option>
                        <option value="0.3">台新證券</option>
                        <option value="0.4">富邦證券</option>
                        <option value="0.2">永豐金證券</option>
                        <option value="0.65">群益證券</option>
                    </select>
                </div>
                <button type="submit" name="confirm">確認</button>
            </form>
        </div>
    </div>
{% endblock content %}