{% extends "base.html" %}
{% block content %}
    <section class="pt-4">
        <div class="container px-lg-5">
            <!-- Page Features-->
            <div class="row gx-lg-5 justify-content-lg-center">
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4"><i
                                    class="bi bi-collection"></i></div>
                            <h2 class="fs-4 fw-bold">
                                <a class="button" href="#">查看股票盤中訊息</a>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4"><i
                                    class="bi bi-card-heading"></i></div>
                            <h2 class="fs-4 fw-bold">
                                <a class="button" href="{{ url_for('set_stock_id') }}">查看股票盤後訊息</a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}