{% extends "base.html" %}
{%- block styles %}
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{%- endblock styles %}
{% block content %}
    {% include "flash.html" %}
    <div class="container px-lg-5">
        <div class="p-lg-5 bg-light rounded-5 text-center">
            <h1 class="display-5 fw-bold">審核會員等級</h1>
        </div>
        <table
                id="table"
                data-toggle="table"
                data-search="true"
                data-show-refresh="true"
                data-visible-search="true"
                data-sort-class="table-active"
                data-pagination="true"
                data-side-pagination="client"
                data-url="/read_application_information"
                data-id-field="id"
        >
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        var $table = $('#table')

        async function clickUpgradeButton(id) {
            $.ajax({
                url: "/upgrade_member_level",
                type: "POST",
                data: {'id': id},
                success: function (response) {
                    alert(response)
                    initTable();
                },
            });
        }

        async function clickRemoveButton(id) {
            $.ajax({
                url: "/delete_application_information",
                type: "POST",
                data: {'id': id},
                success: function (response) {
                    alert(response)
                    initTable();
                },
            });

        }

        function operateFormatter() {
            return [
                '<a class="upgrade" href="javascript:void(0)" title="Upgrade">',
                '<i class="bi bi-award"></i>',
                '</a>  ',
                '<a class="remove" href="javascript:void(0)" title="Remove">',
                '<i class="fa fa-trash"></i>',
                '</a>'
            ].join('')
        }

        window.operateEvents = {
            'click .upgrade': function (e, value, row) {
                if (confirm("確認是否將 " + row.id + "升級?")) {
                    clickUpgradeButton(row.id)
                }
            },
            'click .remove': function (e, value, row) {
                if (confirm("確認是否將 " + row.id + "刪除?")) {
                    clickRemoveButton(row.id)
                }
            }
        }

        function initTable() {
            $table.bootstrapTable('destroy').bootstrapTable({
                columns: [
                    {
                        title: '帳號',
                        field: 'id',
                        width: '300',
                        align: 'center',
                        valign: 'middle',
                        sortable: true
                    },
                    {
                        title: '申請理由',
                        field: 'content',
                        align: 'center',
                        valign: 'middle',
                        sortable: true
                    },
                    {
                        title: '操作',
                        field: 'operate',
                        width: '100',
                        align: 'center',
                        clickToSelect: false,
                        events: window.operateEvents,
                        formatter: operateFormatter
                    }
                ]
            })
        }

        $(function () {
            initTable();
        })
    </script>
{% endblock content %}

{%- block scripts %}
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/export/bootstrap-table-export.min.js"></script>
{%- endblock scripts %}